<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fajuary.xiyishop_android">

    <!-- //调用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- //震动（用不到震动可以去掉） -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- //闪光灯（如不用闪光灯可以去掉） -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- <uses-sdk tools:overrideLibrary="cn.bingoogolapple.photopicker,cn.bingoogolapple.androidcommon.adapter" /> -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 写入SD卡权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAG" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在SD卡中创建和删除文件的权限 -->
    <application
        android:name=".MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.activity.MainActivity" android:screenOrientation="portrait"/>
        <!-- <activity android:name=".module.activity.OrderManagerActivity" /> -->
        <activity android:name=".module.activity.DetailsActivtiy" android:screenOrientation="portrait" />
        <activity android:name=".module.activity.TiXianActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.VerifyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.PayActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.TwoPayActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.SetUpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.EditionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.ModificationActivty" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.TiXianRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.BankCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.CommoditySeeAvtivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.ShangPinXiangqingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.AddBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.LogInActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.activity.ChangePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.ToOrderManagerActivty" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.ScanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.VerifyResultActivity" android:screenOrientation="portrait"/>


        <activity android:name=".module.activity.WeiKuanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.WeiKuanPayActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.PayRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.WeiKuanRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.ValidationRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.activity.MainAct" android:screenOrientation="portrait"/>
        <!-- 友盟 appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5806d56d67e58e89a7004392" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="fe1746833cd3f6a7c53442288268c640" />
        <!-- 推广渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
    </application>

</manifest>